<div class="container">
  <div class="row">
      <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
          <div class="row g-3">
              <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                  <div class="card" style="width: 18rem;">
                      <img height="200px " src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPeHBXzTDtzaJn1bI17YjLh4-_QrMz6eNkwVUPU-En4cQIuehOryZ-sAs9dVOCN0jz4oc&usqp=CAU"class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Archana</h5>
                        <p class="card-text">ID:4567</p>
                       
                      </div>
                    </div>
              </div>
              <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                  <div class="card" style="width: 18rem;">
                      <img height="200px " src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSCTOJACRy_kQ9DA-f-HWRBcK0Pwi615z1pxt9QxGmEvhpXOddC9QKPW5-U6YYpqiGPcLU&usqp=CAU" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Aswathy</h5>
                        <p class="card-text">ID:56734</p>
                        
                      </div>
                    </div>
              </div>
              <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                  <div class="card" style="width: 18rem;">
                      <img height="200px " src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS24WWpVB9X7t5-QZ8uFCH3QY65_-mO0f4M218TzwbU2WPJaG_kElCLJdK4LP_gNd-Vj0U&usqp=CAU" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Anjana</h5>
                        <p class="card-text">ID:2341</p>
                      </div>
                    </div>
              </div>
              <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                  <div class="card" style="width: 18rem;">
                      <img height="200px " src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZb6wVd1ZTa-eYaVlI9VcmZRPSPoqBIUQFRd0NPwBfoWlQEUFuhtYvQa89pxlCVf00uPo&usqp=CAU" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Athira</h5>
                        <p class="card-text">ID:9087</p>
                        
                      </div>
                    </div>
              </div>
              <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                  <div class="card" style="width: 18rem;">
                      <img height="200px " src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRlJv8cqd2NlbkUMq6d87Q9sBGBi-k7dK5lj8Q_Wop9MCAZkvtpmHJDErzDVFAfnGP7XeM&usqp=CAU" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Dhanusree</h5>
                        <p class="card-text">ID:4590</p>
                      
                      </div>
                    </div>
              </div>
              <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                  <div class="card" style="width: 18rem;">
                      <img height="200px " src="https://cdn.freeimage.me/images/g18a8633cfba7f782e1318a14f6c698861a03a0b1710068ad68b2e1e80ce3a8bec34f789593551a1da9b1ef0d3d0af1322c00ee3d03e9ed8bc24370628bb42f0a_1280.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Reshma</h5>
                        <p class="card-text">ID:7865</p>
                       
                      </div>
                    </div>
              </div>
              <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                  <div class="card" style="width: 18rem;">
                      <img height="200px " src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0B2aXfEVTIujVrxl2giZkkW0KVCUWdGs_c0i5MioyVlsRnP-1Vmhfq2eHLzgT966Xxnk&usqp=CAU" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Krishnapriya</h5>
                        <p class="card-text">ID:7812</p>
                       
                      </div>
                    </div>
              </div>
              <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                  <div class="card" style="width: 18rem;">
                      <img height="200px " src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTyeD0Zy-jaMOuiXs5160ugum702thfQEs2QQ9t6V2FJpUwCi0xqBW9glPqxQEtWYOUahk&usqp=CAU" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Priya</h5>
                        <p class="card-text">ID:8934</p>
                       
                      </div>
                    </div>
              </div>
              <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                  <div class="card" style="width: 18rem;">
                      <img height="200px " src="https://jaduikahaniya.com/wp-content/uploads/2020/10/beautiful-girls.webp" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Amina</h5>
                        <p class="card-text">ID:1023</p>
                       
                      </div>
                    </div>
              </div>
              <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                  <div class="card" style="width: 18rem;">
                      <img height="200px " src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR9Nbo9M0-v0ZY-08qBLiM-mr8jnMsT6L_4BLfcInppOKQmlYVgZ3l5lXdwCvTajwXaHdo&usqp=CAU" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Saranya</h5>
                        <p class="card-text">ID:8920</p>
                        
                      </div>
                    </div>
              </div>
          </div>
      </div>
  </div>
</div>
